<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="Test" preserve-order="true">
    <classes>
      <class name="co.uk.ybs.selenium.psd2.TestChromeBrowser"/>
      <class name="co.uk.ybs.selenium.psd2.PSD2Yorkshire"/>
    </classes>
  </test> 
</suite> 
